* 
!.gitignore
!A File Icon.sublime-settings
!ApacheConf.sublime-settings
!CSS.sublime-settings
!Color
!ColorPicker.sublime-settings
!Default (OSX).sublime-keymap
!HTML.sublime-settings
!Note.sublime-settings
!Package Control.sublime-settings
!Preferences.sublime-settings
!SCSS.sublime-settings
!WakaTime.sublime-settings
Package Control.cache/*
Package Control.merged-ca-bundle
Package Control.last-run